DEBUG=1
SECRET_KEY=django-insecure-change-me
ALLOWED_HOSTS=127.0.0.1,localhost

POSTGRES_DB=django_db
POSTGRES_USER=django_user
POSTGRES_PASSWORD=django_pass
POSTGRES_HOST=db
POSTGRES_PORT=5432

GUNICORN_WORKERS=3
